# Node modules
node_modules/
Backend/node_modules/
Frontend/node_modules/


# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage reports
coverage/
*.lcov

# Build output
dist/
build/

# Environment variables
.env
.env.local
.env.*.local

# OS files
.DS_Store
Thumbs.db

# IDE/editor configs
.vscode/
.idea/
*.swp

# Uploads (user files)
uploads/

# Optional: if you use Cloudinary or other temp storage
tmp/
